html,body {
  position: relative;
  font-family: "Arial, sans-serif";
  font-size: 16px;
  color: white;
  margin: 0;
  padding: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0 , 0, 0, 0.6)), url(https://www.pokemonunite.jp/assets/img/top/hero_v4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  padding-top: env(safe-area-inset-top);   /* Safe area for the top */
  padding-bottom: env(safe-area-inset-bottom); /* Safe area for the bottom */
  padding-left: calc(env(safe-area-inset-left));  /* Left safe area padding */
  padding-right: calc(env(safe-area-inset-right)); /* Right safe area padding */

}

/* Add left gradient fade */
body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 25%; /* Adjust the width to control the fade size */
  background: linear-gradient(to right, #6a0dad, transparent); /* Purple to transparent */
  z-index: 1; /* Ensures it's on top of the background */
}

/* Add right gradient fade */
body::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 25%; /* Adjust the width to control the fade size */
  background: linear-gradient(to left, #ffa500, transparent); /* Orange to transparent */
  z-index: 1; /* Ensures it's on top of the background */
}

/* Grid Layout */
.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 10px;
  width: 100%;
  margin: 0 auto;
  height: 100vh;
  width: 100vw;
  grid-template-rows: auto 1fr auto;
  position: relative;
  z-index: 2;
  padding-left: calc(env(safe-area-inset-left) + .2em); /* Apply safe-area padding */
  padding-right: calc(env(safe-area-inset-right) + .2em); /* Same for the right */
}

/* Header */
.layout__header {
  grid-column: 5 / 9;
  color: white;
  text-align: center;
  padding: 10px;
  font-size: 1vw; /* Default size */
}

.dropdown {
  position: relative;
  display: inline-block;
  font-size: 2vw; /* Default size */
}

/* Side Navigation */
.layout__sideNavi1 {
  grid-column: 1 / 4;
  align-items: center; /* Center content horizontally */
  grid-row: 1 / 4; /* Span across all rows */
  background-color: rgba(0, 0, 0, 0);
  padding: 2vh;
  color: white;
  text-align: center;
  overflow-y: auto;
  font-size: 1vw; /* Default size */
  display: flex;
  flex-direction: column; /* Flexboxで縦に並べる */
  justify-content: flex-start; /* 上部から配置 */
  align-items: center; /* 中央揃え */
}

.layout__sideNavi2 {
  grid-column: 10 / 13;
  align-items: center; /* Center content horizontally */
  grid-row: 1 / 4; /* Span across all rows */
  background-color: rgba(0, 0, 0, 0);
  padding: 2vh;
  color: white;
  text-align: center;
  overflow-y: auto;
  font-size: 1vw; /* Default size */
  display: flex;
  flex-direction: column; /* Flexboxで縦に並べる */
  justify-content: flex-start; /* 上部から配置 */
  align-items: center; /* 中央揃え */
}

/* Flexbox layout for Team A and Team B's Ban sections */
.teama-ban,.teamb-ban {
  display: flex;
  flex-direction: row; /* Row-wise alignment for the bans/picks */
  justify-content: space-around; /* Distribute items evenly */
  align-items: center;
  padding: 10px;
}

.teama-pick, .teamb-pick {
  display: flex;
  flex-direction: column; /* Row-wise alignment for the bans/picks */
  overflow: auto; 
  width: 100%; /* Ensure the width is constrained within the parent container */
  max-width: 100%; /* Prevents child elements from exceeding the parent's width */
  box-sizing: border-box; /* Ensure padding and borders are included in the element's total width */
  padding: 10px; /* Optional: adds padding inside the container */
}

/* General flex container for Pokémon and Player name */
.select.pokemon {
  display: flex;
  justify-content: space-between; /* This aligns the image to the left and player name to the right */
  align-items: center;
  margin: 1vh 0; /* Space between the rows */
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  transition: width 0.5s ease; /* Smooth transition for the width */
  box-sizing: border-box; /* Ensures padding and borders are included in the element's total width */
  position: relative; /* To allow absolute positioning of child elements */
  height: 12vh; /* Adjust height dynamically based on viewport height */
  min-height: 40px; /* Ensure a minimum height for very small screens */
  overflow: visible; /* Prevents overflow of child elements */
}

/* Pokémon image container */
.ban-pokemon-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5vw;
  aspect-ratio: 1 / 1; /* Ensures a 1:1 aspect ratio (square) */
  height: 5vw;
  margin: 2px;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  overflow: hidden; /* Prevents image overflow */
}

/* Pokémon image container */
.pick-pokemon-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4vw;
  aspect-ratio: 1 / 1; /* Ensures a 1:1 aspect ratio (square) */
  height: 4vw;
  margin: 2px;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  overflow: hidden; /* Prevents image overflow */
}

/* Icon container in the middle, centrally aligned */
.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1; /* Automatically take up remaining space */
  padding: 0 5px; /* Optional: add padding for better spacing */
  height: 5vh; /* Match height of the other elements */
  gap: 5px; /* Ensure space between each circle */
}

.icon-containerB {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1; /* Automatically take up remaining space */
  padding: 0 5px; /* Optional: add padding for better spacing */
  height: 5vh; /* Match height of the other elements */
  gap: 5px; /* Ensure space between each circle */
}

.icon-circle {
  width: 2vw; /* Adjust size */
  height: 2vw;
  border-radius: 50%; /* Makes it a circle */
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white; /* Circle border */
  background-color: rgba(255, 255, 255, 0.1); /* Circle background color */
  overflow: hidden; /* Ensures that the image doesn't overflow */
}

.icon-circle img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image fits inside the circle */
}

/* Circle for battle items */
.battleitem-popup {
  position: absolute;
  background-color: white;
  padding: 2vh;
  border: 1px solid gray;
  z-index: 1000;
}

.battleitem-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 items per row */
  gap: 1vw;
}

.battleitem-option {
  width: 2vw;
  height: 2vw;
  cursor: pointer;
}

.battle-item-circle {
  width: 2vw;
  height: 2vw;
  border-radius: 50%;
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.battle-item-selected {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Positioning player image in the bottom-right */
.player-imageA, .player-imageB {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3vw;
  height: 3vw;
}

/* If needed, image inside player-image */
.player-imageA img, .player-imageB img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Main Content */
.layout__mainContent {
  grid-column: 4 / 10;
  padding: 2vw;
  overflow-y: auto;
  max-height: calc(100vh - 160px); /* Adjust to prevent overlap with footer */
  box-sizing: flex-end;
}

.popup-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.9); /* Darken background for emphasis */
}

/* Popup content container (black box) */
.popup-content {
  display: grid;
  grid-template-columns: repeat(7, 1fr); /* 6 columns for items */
  grid-template-rows: repeat(4, 1fr); /* 3 rows for items */
  gap: 6px; /* Spacing between items */
  background-color: rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 10px;
  max-width: 40%; /* Adjust size of the popup */
  max-height: 40%; /* Adjust size of the popup */
  box-sizing: border-box;
}

/* Individual item container */
.popup-item {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  overflow: hidden;
}

/* Item image */
.popup-item img {
  width: 80%;
  height: 80%;
  object-fit: cover;
  cursor: pointer;
}


/* Footer */
.layout__footer {
  grid-column: 6 / 8;
  padding: 5px;
  text-align: center;
  position: relative;
}

/* Pokemon Images */
.pokemon-selection img {
  width: 6vw;
  height: auto;
  margin: 0px;
  cursor: pointer;
  transition: width 0.3s ease, height 0.3s ease;
}

.ban-preview-image {
  width: 4vw;
  height: auto;
  margin: 0px;
  cursor: pointer;
  transition: width 0.3s ease, height 0.3s ease;
}

.pick-preview-image {
  width: 4vw;
  height: auto;
  margin: 0px;
  cursor: pointer;
  transition: width 0.3s ease, height 0.3s ease;
}

/* Buttons */
button {
  background-color: #61dafb;
  color: white;
  border: none;
  padding: 1vh 2vw;
  margin: 0.5vh;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1.2vw;
  transition: font-size 0.3s ease, padding 0.3s ease;
}

button:disabled {
  background-color: #ccc;
}

button:hover {
  background-color: #4caf50;
}

button:active {
  transform: scale(0.98);
}

/* smaller View */
@media (max-width: 768px) {

  .layout__header {
    grid-column: 5 / 9;
    font-size: 0.8rem; /* Smaller text size for mobile */
  }

  .layout__sideNavi1 {
    grid-column: 1 / 5;
    font-size: 0.6rem; /* Smaller text size for mobile */
  }
  
  .layout__sideNavi2 {
    grid-column: 9 / 13;
    font-size: 0.6rem; /* Smaller text size for mobile */
  }

  .layout__mainContent {
    grid-column: 5 / 9;
    padding: 0vw;
  }

  .pokemon-selection img,
  .preview-image {
    width: 5vw; 
  }

  .layout__footer {
    grid-column: 5 / 9;
    font-size: 0.6rem; /* Smaller text size for mobile */
  }

}

/* iphone landscape View */
@media (min-width: 768px) and (max-width: 1200px) {

  .layout__header {
    grid-column: 6 / 8;
    font-size: 0.6rem; /* Smaller text size for mobile */
  }
  
  .teama-ban {
    grid-column: 4 / 6;
  }
  
  .layout__sideNavi1 {
    grid-column: 1 / 4;
    font-size: 0.3rem; /* Smaller text size for mobile */
  }
  
  .layout__sideNavi2 {
    grid-column: 10 / 13;
    font-size: 0.3rem; /* Smaller text size for mobile */
  }

  .layout__mainContent {
    grid-column: 4 / 10;
  }

  .pokemon-selection img,
  .preview-image {
    width: 6vw; 
  }

  .layout__footer {
    grid-column: 4 / 10;
  }

}
